/*.inven{
	height : 100vh;
	background-image : url("../img/almacen-ropa.jpg");
	background-attachment : fixed;
	background-position : center center;
	//background-size : 30% 30%;//70% 55%;
	background-repeat : no-repeat;
	//filter:brightness(0.4);
	position : relative; 
	z-index : 1;
	margin-bottom : 3px;
}

.inven::after{
	content:"";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    filter:brightness(0.4);
    background:rgba(255,255,255,0.9);
    z-index:-1;
    opacity : 0.9;
}*/

.myrsysinve{
	background-color : $ColorAzulInst;

	.inventario-cont{
		display : flex;
		justify-content : space-between;
		align-items : center;
		margin-top : 85px;
		margin-bottom : 130px;

		&_info{
			display : flex;
			flex-direction : column;
			border-radius : 5px;
			width : 50%;

			&_titulo{
				padding : 15px;

				h5{
					color : $Blancobgcolor;
				}
			}

			&_descrip{
				padding : 15px;

				&_texto p{
					color : white;
				}

				&_puntos{
					margin-top : 15px;
					display : flex;
					flex-direction : row;

					&_contenedor{
						margin-right : 20px;

						&_alinear{
							display : flex; 
							flex-direction : row;
							align-items : center;
							margin-bottom : 10px;

							.circulo{
								color : white;
							}

							.desc{
								margin-left : 7px;
								color : white;
								font-size: 17px;
							}
						}
					}
				}
			}
		}

		&_img{
			display : flex;
			justify-content: center;
			align-items : center;
			width: 50%;
		}
	}
}

@media screen and (max-width : $tabletas){
	.myrsysinve{

		.inventario-cont{
			display : flex;
			flex-direction : column;
			align-items : center;
			/*margin-top : 85px;
			margin-bottom : 130px;*/

			&_info{
				display : flex;
				flex-direction : column;
				border-radius : 5px;
				width : 100%;

				&_titulo{
					padding : 15px;
					display : flex;
					flex-direction : column;
					align-items : center;

					h5{
						color : white;
					}
				}

				&_descrip{
					padding : 15px;

					&_texto p{
						color : white;
					}

					&_puntos{
						margin-top : 15px;
						display : flex;
						justify-content : center;
						align-items : center;

						&_contenedor{
							margin-right : 10px;

							&_alinear{
								display : flex; 
								flex-direction : row;
								align-items : center;
								margin-bottom : 10px;

								.circulo{
									color : white;
								}

								.desc{
									margin-left : 7px;
									color : white;

								}
							}
						}
					}
				}
			}

			&_img{
				display : flex;
				justify-content: center;
				align-items : center;
				width: 100%;
			}
		}
	}
}