.imagenpoliticas{
	//height : 100vh;
	background-image : url("../img/politicas.jpg");
	background-attachment : fixed;
	background-position : center center;
	background-size : cover;//70% 55%;
	//background-size : 30% 30%;//70% 55%;
	background-repeat : no-repeat;
	//filter:brightness(0.4);
	position : relative; 
	z-index : 1;
	margin-bottom : 3px;
}

.imagenpoliticas::after{
	content:"";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    //background:rgba(255,255,255,0.9);
    background:rgba(0,0,0,0.9);//rgba(236,27,36,0.9);//$Colorrojo;
    z-index:-1;
    opacity : 0.9;
}


.politicas{
	//background-color: $Colorgris;
	margin-top: 60px;

	.cont-politicas{
		display: flex; 
		flex-direction: row;
		padding: 20px;
		margin-top: 50px;
		margin-bottom: 50px;


		&_imagen{
			display: flex; 
			justify-content: center;
			width: 50%;
			margin: 15px;
		}

		&_imagen img{
			width: 100%;
		}

		&_texto{
			display: flex;
			flex-direction: column; 
			color: $Colorblanco;
			width: 60%;
			margin: 15px;

			&_titulo{
				text-align: left;
				display: flex;
				flex-direction: column;
				font-size: $Tamanoletraser;
			}

			&_descripcion{
				text-align: left;
				margin-top: 20px;
			}
		}
	}
}

@media screen and (max-width: $tabletas){
	.politicas{

		.cont-politicas{
			display: flex; 
			flex-direction: column-reverse;
			padding: 5px; 

			&_imagen{
				width: 100%;
				margin: 0px;
				margin-top: 15px;
			}

			&_imagen img{
				
			}

			&_texto{
				width: 100%;
				margin: 8px;

				&_titulo{
					text-align: left;
					display: flex;
					flex-direction: column;
					font-size: $Tamanoletraserres;
				}

				&_descripcion{
					text-align: left;
					margin-top: 20px;
				}

				&_descripcion p{
					font-size: 14px;
				}
			}
		}
	}
}