.info{
	display: flex;
	justify-content: center;	
	height: 16vh;//180px;
	margin-top: -3px;
	background-color: $Colormostaza;

	.cont-info{
		display: flex;
		justify-content: center;
		align-items: center;
		
		& h4{
			color : $Colornegro;
			text-align: center;
			font-size: $Tamanoletraslo;
		}
	}		
}

@media screen and (max-width: $moviles){
	.info{
		.cont-info{
			& h4{
				color : $Colornegro;
				text-align: center;
				font-size: $Tamanoletraslores;
			}
		}		
	}
}