.imagen{
	//height : 100vh;
	background-image : url("../img/Tornillos.jpg");
	background-attachment : fixed;
	background-position : center center;
	background-size : cover;//70% 55%;
	//background-size : 30% 30%;//70% 55%;
	background-repeat : no-repeat;
	//filter:brightness(0.4);
	position : relative; 
	z-index : 1;
	margin-bottom : 3px;
}

.imagen::after{
	content:"";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    //background:rgba(255,255,255,0.9);
    background:rgba(255,203,47,0.9);//rgba(236,27,36,0.9);//$Colorrojo;
    z-index:-1;
    opacity : 0.9;
}

.servicios{
	//margin-top: 70px;
	margin-top: -3px;

	.cont-servicio{
		display : flex; 
		flex-direction: column;

		&_encabezado{
			margin: 68px;
			text-align: center;
			color: $Colornegro;
		}

		&_servicios{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			margin-bottom : 50px;
			transition : all 300ms;

			&_elementos{
				display: flex;
				flex-direction: column;
				align-items : center;
				margin: 18px;
				padding : 10px;
				width : 30%;
				/*height: 30%;
				background-color : $Colorgrisdif;
				border-radius : 50%;//10px*/

				&_img{
					margin: 5px;

					&_size{
						width: 110px;
					}
				}

				&_descripcion{
					text-align: center;
					color : $Colornegro;
					font-size: 24px;
				}
			}
		}
	}
}

@media screen and (max-width: 650px){
	.servicios{
		//margin-top: 70px;

		.cont-servicio{
			/*display : flex; 
			flex-direction: column;*/

			&_encabezado{
				margin: 50px;
				/*margin: 68px;
				text-align: center;
				color: white;*/

				&_size{
					font-size: 1.5em;
				}
			}

			&_servicios{
				/*display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;
				margin-bottom : 50px;*/

				&_elementos{
					/*display: flex;
					flex-direction: column;
					align-items : center;
					margin: 18px;
					padding : 10px;*/
					width : 100%;

					&_img{
						margin: 5px;

						&_size{
							width: 100px;
						}
					}

					&_descripcion{
						text-align: center;
						color : $Colorblanco;
						font-size: 20px;
					}
				}
			}
		}
	}
}

/*.servicios{
	background-color : $Grisbgcolor;

	.servicios-cont{
		display : flex; 
		flex-direction: column;
		margin-top: 85px;
		margin-bottom : 70px;

		.servicios-info{
			display : flex; 
			flex-wrap : wrap;
			margin-top : 30px;
			align-items : center;

			&_serv{
				display : flex; 
				flex-direction : column;
				margin : 18px;
				padding : 10px;
				width : 30%;
				transition : all 300ms;
				border-radius : 10px;

				&_img{
					display : flex; 
					justify-content: center;
					margin-bottom : 10px;
					height : 100px;
					padding : 5px;

					&_estilo{
						border-radius : 50%;
						box-shadow: 0px 0px 40px -8px black;
					}
				}

				&_continfo{
					display : flex;
					flex-direction : column;

					&_titulo{
						display: flex; 
						justify-content: center;
						margin-bottom : 10px; 

						&_texto{
							color: $Negrobgcolor;
						}
					}

					&_desc{
						display: flex; 
						justify-content: center;
						margin-bottom : 30px;

						&_texto{
							text-align: center;
							color: $Negrobgcolor;
						}
					}
				}
			}

			&_serv:hover{
				box-shadow: 0px 0px 40px -5px $ColorAzulInst;
			}
		}
	}
}

@media (max-width : 1096px){//620px
	.servicios{

		.servicios-cont{

			.servicios-info{
				display : flex; 
				flex-wrap : wrap;
				margin-top : 30px;
				align-items : center;

				&_serv{
					display : flex; 
					flex-direction : column;
					margin : 0px;
					padding : 10px;
					width : 50%;

					&_img{
						display : flex; 
						justify-content: center;
						margin-bottom : 10px;
						height : 100px;//Nuevo agregado
						padding : 5px;
					}

					&_continfo{
						display : flex;
						flex-direction : column;

						&_titulo{
							display: flex; 
							justify-content: center;
							margin-bottom : 10px; 

							&_texto{
								color: $Negrobgcolor;
							}
						}

						&_desc{
							display: flex; 
							justify-content: center;
							margin-bottom : 30px;

							&_texto{
								text-align: center;
								color: $Negrobgcolor;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width : $moviles){
	.servicios{
		//height : 100vh;
		background-color : $Grisbgcolor;

		.servicios-cont{
			display : flex; 
			flex-direction: column;
			margin-top: 85px;
			margin-bottom : 70px;

			.servicios-info{
				display : flex; 
				flex-wrap : wrap;
				margin-top : 30px;
				align-items : center;
				padding : 3px;

				&_serv{
					display : flex; 
					flex-direction : column;
					margin : 0px;
					padding : 10px;
					width : 100%;

					&_img{
						display : flex; 
						justify-content: center;
						margin-bottom : 10px;
						height : 100px;//Nuevo agregado
						padding : 5px;
					}

					&_continfo{
						display : flex;
						flex-direction : column;

						&_titulo{
							display: flex; 
							justify-content: center;
							margin-bottom : 10px; 

							&_texto{
								color: $Negrobgcolor;
							}
						}

						&_desc{
							display: flex; 
							justify-content: center;
							margin-bottom : 30px;

							&_texto{
								text-align: center;
								color: $Negrobgcolor;
								font-size: 17px;
							}
						}
					}
				}
			}
		}
	}
}*/