.slogan{
	display: flex;
	justify-content: center;	
	height: 16vh;//180px;
	margin-top: -3px;
	//background-color: $ColorRojoIns;

	.cont-slogan{
		display: flex;
		justify-content: center;
		align-items: center;
		
		& h4{
			color : $ColorRojoIns;//$Colorblanco;
			text-align: center;
			font-size: $Tamanoletraslo;
		}
	}		
}

@media screen and (max-width: $moviles){
	.slogan{
		.cont-slogan{
			& h4{
				color : $ColorRojoIns;
				text-align: center;
				font-size: $Tamanoletraslores;//1.5em;
			}
		}		
	}
}