.clientes-cont{
	display : flex; 
	flex-direction : column;
	justify-content : center;
	align-items  : center;
	margin-top : 60px;
	margin-bottom : 55px;

	.clientes-cont_contimag{
		display : flex; 
		flex-wrap : wrap;
		justify-content : center;
		margin-top : 55px;

		&_estilo{
			margin: 10px;
			padding: 10px;

			box-shadow: 0px 0px 30px -4px $ColorAzulInst;
			border-radius : 60%;
		}
	}
}