.imagen{
	//height : 100vh;
	background-image : url("../img/MyrsysM 3xxxhdpi.png");
	background-attachment : fixed;
	background-position : center center;
	background-size : 30% 30%;//70% 55%;
	background-repeat : no-repeat;
	//filter:brightness(0.4);
	position : relative; 
	z-index : 1;
	margin-bottom : 3px;
}

.imagen::after{
	content:"";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.9);
    z-index:-1;
    opacity : 0.9;
}

.productos{
	background-color : $Blancobgcolor;

	.productos-cont{
		display : flex; 
		flex-direction: column;
		margin-top: 85px;
		margin-bottom : 40px;//155px;

		/*.productos-titulo{
			display : flex;
			flex-direction: column;

			.productos-titulo-cont{
				display : flex; 
				flex-direction: column;

				&_titulo{
					display : flex; 
					justify-content: center;

					&_color{
						color : $Colortitulogris;
					}
				}

				&_span{
					display : flex; 
					justify-content : center;
				}
			}
		}*/

		.productos-info{
			display : flex; 
			justify-content: space-between; 
			margin-top: 50px;

			.productos-info_imagen{
				width : 50%;
			}

			.productos-info_info{
				display : flex;
				flex-direction: column;
				width : 50%;
				margin-left: 20px;

				&_continfo{
					display: flex; 
					justify-content: center;

					&_texto{
						color : $Colorletrastexto;
					}
				}

				&_contpuntos{
					display: flex; 
					flex-direction: column;

					&_cont{
						display: flex;
						flex-direction : column;

						&_punto{
							margin: 8px;
							display : flex;
							flex-direction: row;

							&_circulo{
								width: 14px;
     							height: 14px;
     							border-radius: 50px;
    							background: $ColorAzulInst;
							}

							&_texto{
								margin-left: 10px;
								color : $Colorletrastexto;
								font-size: 17px;
							}

							&_boton{
								color : white; 
								background-color : $ColorAzulInst;
								padding : 10px; 
								border-radius: 20px;
								font-size: 15px;
								text-align: center;
								width: 56%;
								transition : all 0.7s ease;

								&:hover{
									background-color : $Blancohovermenu;
									color : $ColorAzulInst;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width : 625px){
	.productos{
		background-color : $Blancobgcolor;

		.productos-cont{
			display : flex; 
			flex-direction: column;
			margin-top: 85px;
			//margin-bottom : 155px;

			/*.productos-titulo{
				display : flex;
				flex-direction: column;

				.productos-titulo-cont{
					display : flex; 
					flex-direction: column;

					&_titulo{
						display : flex; 
						justify-content: center;

						&_color{
							color : $Colortitulogris;
							font-size: 1.5em;
						}
					}

					&_span{
						display : flex; 
						justify-content : center;
					}
				}
			}*/

			.productos-info{
				display : flex;
				flex-direction : column;
				align-items : center;  
				margin-top: 0px;

				.productos-info_imagen{
					width : 100%;
				}

				.productos-info_info{
					display : flex;
					flex-direction: column;
					align-items : center;
					width : 100%;
					margin-left: 0px;

					&_continfo{
						display: flex; 
						justify-content: center;
						padding : 10px;

						&_texto{
							font-size: 17px;
							color : $Colorletrastexto;
							text-align : justify;
						}
					}

					&_contpuntos{
						display: flex; 
						flex-direction: column;

						&_cont{
							display: flex;
							flex-direction : column;

							&_punto{
								margin: 8px;
								display : flex;
								flex-direction: row;

								&_circulo{
									width: 11px;
	     							height: 11px;
	     							border-radius: 50px;
	    							background: $ColorAzulInst;
								}

								&_texto{
									margin-left: 10px;
									color : $Colorletrastexto;
									font-size: 15px;
								}

								&_boton{
									color : white; 
									background-color : $ColorAzulInst;
									padding : 8px; 
									border-radius: 20px;
									font-size: 14px;
									text-align: center;
									width: 56%;
								}
							}
						}
					}
				}
			}
		}
	}
}