* {
	padding : 0; 
	margin : 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

.menu_bar{
	display : none;
}

.contenedor{
	width: 20%;
	height: 100%;

	.menu_nav{
		background-color: $BGmenuuno;
		height: 100%;
		left: 0;
		margin: 0;
		overflow-y: scroll;

		.cont-info{//Se agrego para estilos de icono admnistrador(Nuevo)
			display: flex; 
			flex-direction: column;
			align-items: center;
			padding-top: 30px;
			padding-bottom: 10px;

			.alinear-text{
				text-align: center;
			}
		}

		.menu_ul{
			list-style : none; 

			.menu_li{
				display : block;
				position : relative;
				border-bottom : 1px solid rgba(255,255,255,.5);
				font-size: 16px;

				.iconsub{
					position: relative; 
					top: 3px;
					//padding-right: 5px;
					float: right;
				}

				/*.icon_menu{
					padding: 10px;
					font-size: 18px; 
				}*/

				.children{
					display : none;
					background-color : $BGmenudos;
					position : absolute; 
					z-index: 1000;
					position : relative;

					.li_children{
						display : block;
						overflow: hidden;

						&:hover{
							background-color: $BGhoversubmenu;
						}

						.a_children{
							color :black;
							display : block;
							text-decoration: none; 
							padding: 20px; 
							margin-left : 20px;
						}

					}
				} 

				&:hover{
					background-color: $BGbotonhover;

					.children{
						display : none;
					}
				}

				.menu_a{
					display: block;
					color : black;
					text-decoration: none; 
					padding: 20px;

					&:hover{//NUEVO AGREGADO
						color : white;
					}
				}
			}
		}
	}
}

.cont-form-men{
	display: flex; 
	justify-content: space-around;
	height: 100%;

	.formularios{
		width: calc(100% - 20%);
		height: 100%;//
		//padding-top: 25px;//
	}
}

@media (max-width : $tabletas){//Se modifico la resolucion quitando la de dispositivo movil y dejando solo tabletas (max-width: $moviles) and 
	.menu_bar{
		display: block; 
		background-color: $BGmenuuno;
		width: 100%; 
		height: 50px;//8%
		padding: 20px;
		position: fixed;//
		top: 0;//
		z-index: 1000;//

   		.bt-menu{
	   		color: black; 
	   		font-size: 20px;
	    	font-weight: bold;
	   		text-decoration: none;
	   		//overflow : hidden;//
	   		display: block;//

	   		.menu_span{
	   			float: left;//right
	   		}
   		}
	}

	.contenedor{
		position: fixed;
		width: 42%;//50%
		height: 100%;
		right: 100%;

		.menu_nav{
			background-color: $BGmenuuno;
			height: calc(100% - 50px);
			left: 0;
			margin: 0;
			overflow-y: scroll;
			//padding-top: 30px;// 
		}
	}

	.cont-form-men{
		height: 100%;
		margin-top: 50px;//Se modifico, estaba en 7%

		.formularios{
			width: 100%;
			height: 100%;//
			//padding-top: 25px;//
		}
	}
}

@media (max-width : $moviles){
	.contenedor{
		position: fixed;
		width: 67%;//65%
		height: 100%;
		right: 100%;
	}
}

::-webkit-scrollbar 
{
    width: 12px;	
}
::-webkit-scrollbar-button:hover
{
	background-color: #A4A4A4;	 
}	 
::-webkit-scrollbar-track 
{
    background-color: #D8D8D8;
}
 ::-webkit-scrollbar-track-piece 
{
	background-color: #D8D8D8;
}	
::-webkit-scrollbar-thumb 
{		
	background: #A4A4A4;
	height: 50px;
}
::-webkit-scrollbar-thumb:hover 
{		
	background: #585858;	
}   	