//COLORES SEGUNDA OPCION(deseado)
/*negro: #232931;
rojo: #f73859;
beige : #f1d18a;
gris : #ededed;*/

$Colornegro: rgb(35,41,49);//rgb(34,31,32);//#232931;
$Colorrojo:  rgb(247,56,89);//rgb(236,27,36);//#f73859;
$Colorbeige: rgb(241,209,138);//#f1d18a;
$Colorgris : #ededed;
$Colorblanco: white;
$Coloramarillo: rgb(255,203,47);

$ColorRojoIns: rgba(236,27,36,0.9);

$Colorazul: rgb(69,93,122);

//Colores difuminados
$Colorgrisdif: rgba(237,237,237, 0.9);

//Colores menú
$Blancomenuresp : rgba(255, 255, 255, .9);
$Negromenuresp   : rgba(34, 31, 32 , .8);

/*$Negrobgcolor : rgb(51, 51, 51); //rgb( 23, 32, 42 );//Color de seccion inicio
$Blancobgcolor  : white;//rgb(247, 249, 249);//Color de secciones
$Grisbgcolor  : rgb(242, 243, 244);//rgb(208, 211, 212);//Color de secciones

$ColorAzulInst : rgb(61, 181, 230);//Color azul institucional

$ColorLineaDiv: #b2babb;

//Colores menú
$Blancohovermenu : rgb(208, 211, 212);//rgb(242, 243, 244);//Color de fondo evento hover opciones
$Negromenuresp   : rgba(51, 51, 51 , .8);*/




//Color de letras
/*$Colorletras  : black;//rgb(178, 186, 187);//Color de las letras default body
$Colortitulogris : rgb(98, 101, 103);//rgb(121, 125, 127);//rgb(166, 172, 175);//Color letras titulos
$Colortitulonegro : rgb(44, 62, 80);
$Colorletrastexto : rgb(66, 73, 73);*/


//COLORES PRIMERA OPCION 
/*Rojo: #dd0a35;
gris : #e4d1d3;
azul: #1687a7;}
azuloscuro: #014955;*/

//COLORES TERCERA OPCION
/*naranja: #ff6d24;
grisoscuro : #4e413b;
grismedoscuro : #857671;
grisclaro : #e2ded3; */

