$FontLetras   : 'Merriweather', serif;//Fuente de letras pagina
$TamanoLetras : 20px;//Tamaño de las letras default html
$TamanoLetrasRes : 15px;
$TamanoTitulosRes : 1.5em;

// Tamaños de los encabezados
$h1 : 3.5em;
$h2 : 3em;
$h3 : 2.5em;
$h4 : 2em;//2em;
$h5 : 1.2em;//1.5em;
$h6 : 1em;

// Estilos parrafos
$p--fz  : 1.2vw;//18px;
$p--lh  : 1.5em;

//Estilos secciones inicio
$Tamanotexto: 1.1vw;
$Tamanotextores: 10px;

// Variables para los pesos de las fuentes
$light  : 300;
$normal : 400;
$bold   : 700;