.m-section{
	display : flex;
	justify-content : center;
}

.m-center{
	width : 90%;//1220px;
}

 .m_lineBottom_negro{
    border-bottom : 4px solid $Colornegro;
    display       : inline-block;
    width         : 150px;
    padding       : 1.5rem 0 0;
 }

 .m_lineBottom_rojo{
    border-bottom : 4px solid  $Colorrojo;
    display       : inline-block;
    width         : 150px;
    padding       : 1.5rem 0 0;
 }

 .m_lineBottom_amarillo{
    border-bottom : 4px solid $Coloramarillo;
    display       : inline-block;
    width         : 150px;
    padding       : 1.5rem 0 0;
 }

 .m_lineBottom_blanco{
    border-bottom : 4px solid $Colorblanco;
    display       : inline-block;
    width         : 150px;
    padding       : 1.5rem 0 0;
 }